/*
 |----------------------------------------------------------------
 |  Site Page Content
 |----------------------------------------------------------------
*/

section {
	opacity: 0;
	transition: opacity 1s ease-in-out;

	.row {
		transform: translateY(20px);
		transition: all 0.4s ease-in-out;
	}

	&.show {
		opacity: 1;

		.row {
			transform: none;
			transition: all 0.7s ease-out;
		}
	}
}