header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include overlay();

    &:before {
        background: linear-gradient(180deg, $maintext 0%, $light-grey 60%, rgba($light-grey, 0) 100%);
        opacity: 0.3;
    }

    nav {
        width: 100%;
        color: $white;
    }

    #logo {
        display: block;
        font-size: 25px;
        font-weight: $bold;
        @include serif();
        color: $white;
    }

    .main-menu {
        @include list-reset();
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        li {

            a {
                display: block;
                padding: 20px 12px;
                color: $white;
                font-size: 17px;
                line-height: 1.42;
            }

            + li {
                margin-left: 16px;
            }
        }
    }

    .header-content {
        margin-top: -100px;
        flex-grow: 1;
    }
}