@import url('https://fonts.googleapis.com/css?family=Raleway|Playfair+Display:400,700');

/*
 |----------------------------------------------------------------
 |  Font Faces
 |----------------------------------------------------------------
 */

@mixin sans() {
    font-family: 'Raleway', sans-serif;
}

@mixin serif() {
    font-family: 'Playfair Display', serif;
}

@mixin main-font() {
    @include sans;
}

@mixin heading-style() {
    @include serif();
    font-weight: $bold;
}

@mixin button() {
	min-width: 150px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    outline: none;
    border: 2px solid $maintext;
    border-radius: 22px;
    font-size: 21px;
    font-weight: $semi;
	color: $maintext;
	transition: all 0.3s ease;

	&:hover {
		border-color: $pink;
		color: $pink;
		background: rgba(255, 255, 255, 0.9);
	}
}

@mixin overlay() {
	position: relative;

	&:before {
	    content: ' ';
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 1;
	}

	> * {
	    position: relative;
	    z-index: 2;
	}
}