
/**
 *  Paths
================================================= */
$imgfolder : unquote("../../images");
// Example usage: background-image: url('#{$imgfolder}/bubbles-light.jpg');

/**
 *  Colors
================================================= */
$black      : #4A4A4A;
$white      : #ffffff;
$grey       : #BBBBBB;
$light-grey : #DFDFDF;
$pink		: #FFB7A8;

// form validation
$red        : #b0161d;
$green      : #88B04B;

/**
 *  Text Color
================================================= */
$maintext  : $black;
$highlight : $pink;
$border    : $black;

/**
 *  Text Sylte
================================================= */
$normal : 400;
$medium : 500;
$semi   : 600;
$bold   : 700;

/**
 *  Grid Settings
================================================= */
$max-screen  : 1800px;
$max-width   : 1200px;
$columns     : 12;
$block-grids : 5;
$gutter      : 10px;

/**
 *  Media Query
================================================= */
$below-max-screen : unquote("screen and (max-width:1799px)");
$below-max-width  : unquote("screen and (max-width:1199px)");
$below-desktop    : unquote("screen and (max-width:979px)");
$below-tablet     : unquote("screen and (max-width:767px)");
$below-mini       : unquote("screen and (max-width:639px)");
$below-mobile     : unquote("screen and (max-width:480px)");  // including 480 for perfect content

$above-max-width  : unquote("screen and (min-width:1200px)");
$above-desktop    : unquote("screen and (min-width:980px)");
$above-tablet     : unquote("screen and (min-width:768px)");
$above-mini       : unquote("screen and (min-width:640px)");
$above-mobile     : unquote("screen and (min-width:480px)");
