/*
|----------------------------------------------------------------
|  Headings
|----------------------------------------------------------------
*/

h1, h2, h3, h4, h5, h6 {
	margin: 0;
    @include serif();
    line-height: 1.32;

    a {
        color: inherit;
        text-decoration: none;
    }
}

h1 {
    font-size: 75px;
}

.section-heading {
    font-size: 30px;
    line-height: 1.33;

    & + .section-tagline {
    	margin-bottom: 60px;
    }

}

.section-tagline {
	@include sans();
	font-weight: normal;
	font-style: italic;
	font-size: 18px;
	line-height: 1.28;
}