@media #{$below-desktop} {
    /*
    |----------------------------------------------------------------
    |  About Us
    |----------------------------------------------------------------
    */

    #about-us {
        background-size: auto 350px, auto 350px, auto;
        background-position: left bottom, right bottom, center;

        &.show {
            background-position: left bottom, right bottom, center;
        }
    }

}
